<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="items centered">
        <% if(prods && prods.length > 0){ %>
            <h1 class="main_heading">List of all products</h1>
            <br>
            <div class="grid">
                <% prods.forEach(function(prods) { %>
                    <article class="card product_item">
                        <h1 class="card_header">
                            <p class="product_title"><%= prods.title %></p>
                        </h1>
                        <div class="card_image">
                            <img src="<%= prods.imageURL %>" alt="<%= prods.title %>">
                        </div>
                        <h2 class="card_content">
                            <h1 class="product_price">$<%= prods.price %></h1>
                            <h1 class="product_description"><%= prods.description %></h1>
                        </h2>
                        <div class="card_actions">
                            <a href="/admin/edit-product/<%= prods._id %>?edit=true">Edit</a>
                            <form action="/admin/delete-product" method="POST">
                                <input type="hidden" value="<%= prods._id %>" name="productId">
                                <input type = "hidden" name = "_csrf" value="<%= csrfToken %>">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </article>
                <% }) %>
            </div>
        <% } else{ %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>


<%- include('../includes/end.ejs') %>  