<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main class = "items centered">
        <% if(products && products.length > 0) { %>
            <h1 class="main_heading">Cart products</h1>
            <br>
            <div class="grid">
                <% products.forEach(function(product) { %>
                    <article class="card product_item">
                        <h1 class="card_header">
                            <p class="product_title"><%= product.productId.title %></p>
                        </h1>
                        <hr>
                        <div class="card_image">
                            <img src="<%= product.productId.imageURL %>" alt="<%= product.productId.title %>">
                        </div>
                        <hr>
                        <h2 class="card_content">
                            <h1 class="product_price">$<%= product.productId.price %></h1>
                            <h1 class="product_description"><%= product.productId.description %></h1>
                            <h1 class="product_quantity">Quantity - <%= product.quantity %></h1>
                        </h2>
                        <div class="card_actions">
                            <a href="/products/<%= product.productId._id %>">Details</a>
                            <form action="/cart-delete-product" method="POST">
                                <input type = "hidden" value = "<%= product.productId._id %>" name="productId">
                                <button type="submit">Delete Product</button>
                            </form>
                        </div>
                    </article>
                <% }) %>
            </div>
            <form action="/create-order", method="POST">
                <button type="submit">Order Now!</button>
            </form>
        <% } else { %>
            <h1>No Products in Cart!!!</h1>
        <% } %>
    </main>
    

<%- include('../includes/end.ejs') %>