<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="items centered">
        <div class="grid">
            <article class="card product_item">
                <h1 class="card_header">
                    <p class="product_title"><%= product.title %></p>
                </h1>
                <div class="card_image">
                    <img src="<%= product.imageURL %>" alt="<%= product.title %>">
                </div>
                <h2 class="card_content">
                    <h1 class="product_price">$<%= product.price %></h1>
                    <h1 class="product_description"><%= product.description %></h1>
                </h2>
                <div class="card_actions">
                    <%- include('../includes/add-to-cart.ejs', {product : product}) %>
                </div>
            </article>
        </div>
    </main>


<%- include('../includes/end.ejs') %>  